body {
	background: #111;
	margin: 0 30px 0 30px;
}

#body {
	background-color: #ccc;
	margin-bottom: 0;
}

#top {
	padding: 7px;
	padding-left: 27px;
	background: #333;
}

#top span {
	color: #fff;
	font-size: 50px;

}

#top ul {
	float: right;
}

#top li {
	float: right;
	margin-left: 17px;
	margin-right: 17px;
}

#top a {
	color: #fff;
}

#top a:hover {
	color: #bbb;
}

.article {
	background-color: #fff;
	margin: 23px;
	padding: 23px;
	box-shadow: 2px 2px 2px #777;
	border: solid 1px #aaa;
}

.article h3 {
	font-weight: 300;
}

.start {
	text-indent: 17px;
}

pre {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 13px;
}

#project {
	list-style-type: none;
}

.pic_show {
	text-align: center;
	border: solid 1px #bbb;
	padding:17px;
	width: 30%;
	margin: 23px;
}

.pic_show img {
	width: 98%;
}

table {
	width: 100%;
	border-collapse: collapse;
}
table, th, td {
	border: solid 1px #ccc;
}
th {
	background-color: #333;
	color: #fff;
}
#last_line {
	background-color: #ccc;
}

.sidebar {
	background-color: #fff;
	margin: 46px 46px 23px 23px;
	padding: 23px;
	box-shadow: 2px 2px 2px #777;
	border: solid 1px #aaa;
	line-height: 200%;
}

#register, #register tr, #register td {
	border: none;
}

#register .left {
	width: 33%;
	padding-right: 17px;
	text-align: right;
}

#register td {
	height: 35px;
}

#register .tip {
	vertical-align: baseline;
	padding-top: 0;
	color: #bbb;
}

.baseline {
	vertical-align: baseline;
}

#register textarea {
	width: 88%;
	height: 100px;
}

[type='submit'] {
	background-color: #55f;
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 7px;
	color: #fff;
	box-shadow: 1px 1px 1px #aaa;
	margin-top: 22px;
	cursor: pointer;
}

input[type='text'], input[type='password'] {
	width: 20%;
	height: 27px;
}

footer {
	padding-top: 17px;
	background-color: #000;
	color: #fff;
	text-align: center;
	height: 60px;
}